<% if @students.exists%>
<div class="row">
    <div class="col-md-8">
     <div class="content">
      <% if current_student.profile_picture != nil %>
      <div class="col-md-4"><%= image_tag current_student.profile_picture.url(:medium) %></div>
      <% else %>
      <div class="col-md-4"><%= image_tag  "student-default.png", width:'100%' %></div>
      <%end%>
      </div>
    </div>
</div>
<p>
          You are currently signed in click the button to go to your home page
        <%= link_to  "View Home", student_path(current_student), class:'btn btn-primary'%>
        </p>
<% end %>
