<div class="dashboard">
  <div class="wrapper">
    <!-- Sidebar -->
    <% if current_user%>    
        <% if current_user.role == 'Registrar'%>

        <% else%>
            <%= render  "partials/leftSideBar" %>
        <% end %>
  <% end %>
 </div>
</div>
