<div class="panel panel-default">
    <div class="panel panel-heading custom-bg">
        <h4>Available Applications</h4>
    </div>
    <div class="panel panel-body">
        <div class="col-md-4">
            <div class="well text-center">
                <h2><span class="glyphicon glyphicon-list-alt"></span> <%= @apnew %></h2>
                <h4>New </h4> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="well text-center">
                <h2><span class="glyphicon glyphicon-ok"></span> <%= @apapprov %></h2>
                <h4>Approved</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well text-center">
                <h2><span class="glyphicon glyphicon-remove"></span> <%= @apreject %></h2>
                <h4>Rejected </h4>
            </div>
        </div>
    </div>
</div>