  <div class="search">
  <%= form_tag(admin_application_index_path, :method => "get", id:"search-form", class:'form-inline pull-right') do %>
        <div class="form-group">
            <%= number_field_tag :search, params[:search], placeholder:"Search registration number", class:'form-control'%>
        </div>
        <%= submit_tag "Search", :name => nil, class:'btn btn-primary' %>
    <% end %>
    </div>