$color-button : #fff;
$color : #fff;
$btn-board: #8dcff4;
$btn-active: #22679f;
$color-title: #038eda;
$color-apply: #46a6da;
$color-view: #54839c;
$color-logout: #ac7774;
$color-btnhover: #01105d;
$color-bg: #d2f4ff;