@import "partials/variables";
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'),
         url('../fonts/poppins-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v6-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
body{
    padding-top: 50px;
    background: $color-bg;
    //font-family: verdana, Arial, sans-serif, Courier;
    font-family: 'Poppins';
}
.row ul{
    padding-right: 5%;
}
.urlogo{
    padding: 0 0 0 0;
}
.moto{
    font-size: 26px;
    padding: 20px;
    text-transform: uppercase;
    color: $color-title;
}
.content{
    padding-top: 10%;
}
.btn{
    border: 0ch;
    border-radius: 0;
    margin-right:10px;
    padding: 10px;
}
.form-control{
    padding: 2%;

    border-radius: 0;
}
ul li a{
    text-decoration: none;
    width: 110px;
    height: 60px;
    font-style: bold;
    font-size: 14px;
    background: $btn-active !important;
    color: $color-button;

}
ul li a:hover{
    text-decoration: none;
    width: 110px;
    height: 60px;
    background: $color-btnhover !important;
    color: $color-button;
}
h3{
    color: $color-title;
    font-style: bold;
}
ul{
    display: inline;
}
ul .logout a{
    color: $color-logout; 
    font-size: 12px;
    font-style: bold;
    font-variant: bold;
    background: $color-button !important;
}
ul .logout a:hover{
    color: $color-logout; 
    font-size: 16px;
    background: $color-logout !important;
}
.btn-default{
    background: $btn-board;
    color: $color-button;
}
.btn:hover{
    background: $color-btnhover;
    color: $color-button;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color-title;
}
th{
    font-family: Tahoma;
}
ul .staff-login{
    background: none !important;
    font-size: 14px;
    font-family: Tohoma;
    color: $color-title;
    padding-top: 50px;
}
ul .staff-login:hover{
    background: none !important;
    font-size: 14px;
    font-family: Tohoma;
    color: $color-btnhover;
}

.reset_password{
    font-family: Geneva;
    margin-left: 35px;
    color: $btn-board;
}




    