@import "partials/variables";
body{
    background: $color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row ul{
    padding-right: 5%;
}
.urlogo{
    padding: 10% 0 0 5%;
}
.content{
    padding-top: 10%;
}
.btn{
    border: 0ch;
    border-radius: 0;
}
.form-control{
    padding: 2%;

    border-radius: 0;
}
ul li a{
    text-decoration: none;
    width: 110px;
    height: 60px;
    font-style: bold;
    font-size: 14px;
    background: $btn-active !important;
    color: $color-button;

}
ul li a:hover{
    text-decoration: none;
    width: 110px;
    height: 60px;
    background: $color-btnhover !important;
    color: $color-button;
}
h3{
    color: $color-title;
    font-style: bold;
}
ul{
    display: inline;
}
ul .logout a{
    color: $color-logout; 
    font-size: 12px;
    font-style: bold;
    font-variant: bold;
    background: $color-button !important;
}
ul .logout a:hover{
    color: $color-logout; 
    font-size: 16px;
    background: $color-button !important;
}

.btn{
    width: 90px;
}
.btn-default{
    background: $btn-board;
    color: $color-button;
}
.btn:hover{
    background: $color-btnhover;
    color: $btn-board
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color-title;
}
th{
    font-family: Tahoma;
}
ul .staff-login{
    background: none !important;
    font-size: 14px;
    font-family: Tohoma;
    color: $color-title;
}
ul .staff-login:hover{
    background: none !important;
    font-size: 14px;
    font-family: Tohoma;
    color: $color-btnhover;
}

.reset_password{
    font-family: Geneva;
    margin-left: 35px;
    color: $btn-board;
}




    