@import "partials/variables";
body{
    background: $color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row ul{
    padding-right: 5%;
}
.urlogo{
    padding: 10% 0 0 5%;
}
.content{
    padding-top: 10%;
}
.btn{
    border: 0ch;
    border-radius: 0;
}
.form-control{
    padding: 2%;

    border-radius: 0;
}
ul li a{
    text-decoration: none;
    width: 150px;
    height: 100px;
    font-style: bold;
    font-size: 18px;
    background: $btn-board !important;
    color: $color-button;
}
ul li a:hover{
    text-decoration: none;
    width: 150px;
    height: 100px;
    background: $color-btnhover !important;
    color: $color-button;
}
ul li:active{
    text-decoration: none;
    width: 150px;
    height: 100px;
    background: $btn-active !important;
    color: $color-button;
}
.page-header{
    color: $color-title;
    font-style: bold;
}
h2{
    color: $color-title;
    font-style: bold;
}
ul{
    display: inline;
}
ul .logout a{
    color: $color-logout; 
    font-size: 12px;
    font-style: bold;
    font-variant: bold;
    background: $color-button !important;
}
ul .logout a:hover{
    color: $color-logout; 
    font-size: 16px;
    background: $color-button !important;
}
button a{
    text-decoration: none;
    color: $color-button;
}
button a:hover{
    text-decoration: none;
    color: $color-button;
}
form .form-group  form .approjectBtn{
    display: inline;
}

.btn{
    width: 80px;
    height: 40px;
}
.btn-default{
    background: red;
    color: $color-button;
}
.btn-default:hover{
    background: $color-logout !important;
    color: $color-button;
}
.btn:hover{
    background: $color-btnhover;
    color: $btn-board
}
.btn-reset{
    background: $btn-active;
    color: $color-button;
    border: 0ch;
}
.btn-reset:hover{
    background: $color-btnhover;
    color: $color-button;
    border: 0ch;
}

.search #search-form input[type="integer"]{
    width: 140px;

}
.reset_password{
    font-family: Geneva;
    margin-left: 35px;
    color: $btn-board;
}

#sdetails li{
    text-decoration: none;
    list-style: none;
    padding-bottom: 5px;
    font-family: Georgia;
}

.btn-warning{
    background: $btn-board;
}


