@import "partials/variables";
body{
    //padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
//urlogo background
.urlogo{
    padding: 0 0 0 25%;
}
//customize button
.btn{
  border-radius: 0;
  border: 0;
}
//logout in navbar
#logout{
    padding-right: 50px;
}
.list-group .list-group-item.active{
    background-color: $bgDefault !important;
    border-color: $bgHighlight !important;
}
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .navbar-text {
      color: $colDefault; }
    .navbar-nav {
      > li {
        > a {
          color: $colDefault;
          &:hover,  &:focus {
            color: $colHighlight; }}
        @if $dropDown {
          > .dropdown-menu {
            background-color: $bgDefault;
            > li {
              > a {
                color: $colDefault;
                &:hover,  &:focus {
                  color: $colHighlight;
                  background-color: $bgHighlight; }}
              &.divider {
                background-color: $bgHighlight;}}}}}
      @if $dropDown {
        .open .dropdown-menu > .active {
          > a, > a:hover, > a:focus {
            color: $colHighlight;
            background-color: $bgHighlight; }}}
      > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}
      > .open {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    .navbar-toggle {
      border-color: $bgHighlight;
      &:hover, &:focus {
        background-color: $bgHighlight; }
      .icon-bar {
        background-color: $colDefault; }}
    .navbar-collapse,
    .navbar-form {
      border-color: $colDefault; }
    .navbar-link {
      color: $colDefault;
      &:hover {
        color: $colHighlight; }}}

//customized color
.custom-bg{
    background-color: $bgDefault !important;
    border-color: $bgHighlight !important;
    color: $colDefault !important;
}
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
      > li > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight; }}
      > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
  }