@import "partials/variables";
body{
    background: $color;
}
.row ul{
    padding-right: 5%;
}
.urlogo{
    padding: 20% 0 0 5%;
}
.content{
    padding-top: 15%;
}
.btn{
    border: 0ch;
    border-radius: 0;
}
.form-control{
    padding: 2%;

    border-radius: 0;
}
ul li a{
    text-decoration: none;
    width: 100px;
    height: 60px;
    font-style: bold;
    font-size: 14px;
    background: $btn-board !important;
    color: $color-button;
}
ul li a:hover{
    text-decoration: none;
    width: 100px;
    height: 60px;
    background: $color-btnhover !important;
    color: $color-button;
}

h2{
    color: $color-title;
    font-style: bold;
}
ul{
    display: inline;
}
ul .logout a{
    color: $color-logout; 
    font-size: 12px;
    font-style: bold;
    font-variant: bold;
    background: $color-button !important;
}
ul .logout a:hover{
    color: $color-btnhover; 
    font-size: 16px;
    background: $color-button !important;
}
ul .update a{
    background: $color-title !important;
}
ul .apply a{
    background: $color-apply;
}
ul .view a{
    background: $color-view;
}

